.pdf-btn {
    position: fixed;
    box-shadow: none;
    right: 20px;
    top: 100px;
    width: 90px;
    height: 40px;
    background-color: #c7cbcc;
    /* color: #fff; */
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.pdf-btn:hover {
    background-color: #5f717a;
}
