
.cart-items{
    margin-top: -7rem;
    min-height: 80vh;

}


.submit-btn {
    box-shadow: none;
    width: 60%;
    height: 40px;
    background-color: #c7cbcc;
    /* color: #fff; */
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.submit-btn:hover {
    background-color: #5f717a;
}


/* ...............Media Screen(1024px)............... */
@media (max-width:1024px){
    .cart-items{
        margin-top: -3rem;
    }
}